<!DOCTYPE html>
<html layout:decorator="layouts/layoutadmin"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <script type="text/javascript" th:inline="javascript">
/*<![CDATA[*/
    $(document).ready(function () {
    	$('#proizvodi-skladista').DataTable({
            language: {
                url: /*[[@{/local/Croatian.json}]]*/
            }
        });
    });
/*]]>*/
</script>
</head>
<body>
<div layout:fragment="content">
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">
                PROIZVODI SKLADIŠTA <label th:text="${skladiste.naziv}" />
            </h2>
        </div>
        <div class="col-lg-12">

        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <table id="proizvodi-skladista" class="table table-bordered table-hover">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Naziv</th>
                    <th>Cijena</th>
                    <th>Vrsta proizvoda</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="proizvod : ${proizvodList}">
                    <td th:text="${proizvod.id}">Id</td>
                    <td th:text="${proizvod.naziv}">Naziv</td>
                    <td th:text="${proizvod.cijena}">Cijena</td>
                    <td th:text="${proizvod.vrstaProizvoda.naziv}">Vrsta proizvoda</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

</body>
</html>