<!DOCTYPE html>
<html layout:decorator="layouts/layoutadmin"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<script type="text/javascript" th:inline="javascript">
<![CDATA[
    $(document).ready(function () {
    	$('#skladista').DataTable({
            language: {
                url: [[@{/local/Croatian.json}]]
            }
        });
    });
]]>
</script>
</head>
<body>
<div layout:fragment="content">
	<div class="row">
		<div class="col-lg-12">
			<h2 class="page-header">SKLADIŠTA</h2>
		</div>
		<div class="col-lg-12">

		</div>
	</div>
	<div class="row">
		<div class="col-lg-12">
			<table id="skladista" class="table table-bordered table-hover">
				<thead>
				<tr>
					<th>#</th>
					<th>Šifra</th>
					<th>Naziv</th>
					<th>Kapacitet</th>
					<th>Datum kreiranja</th>
					<th></th>
					<th></th>
				</tr>
				</thead>
				<tbody>
				<tr th:each="skladiste : ${skladisteList}">
					<td th:text="${skladiste.id}">Id</td>
					<td th:text="${skladiste.sifra}">Sifa</td>
					<td th:text="${skladiste.naziv}">Naziv</td>
					<td th:text="${skladiste.kapacitet}">Kapacitet</td>
					<td th:text="${#dates.format(skladiste.datumKreiranja, 'dd.MM.yyyy')}">Datum kreiranja</td>
					<td><a th:href="@{/skladiste/proizvodi(id=${skladiste.id})}">Pregled proizvoda</a></td>
					<td><a th:href="@{/skladiste/unos(id=${skladiste.id})}">Promijeni podatke skladista</a></td>
				</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>

</body>
</html>