<!DOCTYPE html>
<html layout:decorator="layouts/layoutadmin" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body>
  <div layout:fragment="content">
		<div class="row">
			<div class="col-lg-12">
				<h3 class="page-header" th:text="${naslov}">FINANCIJSKO STANJE</h3>
			</div>
		</div>
		<div class="container-fluid">
		<div class="row">
			<div class="col-sm-3">
				<a th:href="@{/financijskoStanje/proizvodi}" class="btn btn-info btn-lg btn-block">Financijsko stanje po proizvodu</a>
				<a th:href="@{/financijskoStanje/skladista}" class="btn btn-info btn-lg btn-block">Financijsko stanje po skladistima</a>
				<a th:href="@{/financijskoStanje}" class="btn btn-info btn-lg btn-block">Financijsko stanje generalno</a>
			</div>
			<div class="col-sm-3">
				<a th:href="@{/downloadCSV}" class="btn btn-success btn-lg btn-block">Download izvjestaj</a>
				<a th:href="@{/downloadCSV2}" class="btn btn-success btn-lg btn-block">Download izvjestaj2</a>
				<a th:href="@{/downloadCSV3}" class="btn btn-success btn-lg btn-block">Download izvjestaj3</a>
			</div>
			<div class="col-md-3">
				Ukupna cijena svega: (Po proizvodima)<p th:text="${ukupnaCijena}" class="lead"></p>
				Ukupna cijena svega: (Po skladistima)<p th:text="${cijenaSvega}" class="lead"></p>
			</div> 
		</div>
		</div>
		
		<div class="row">
		<div class="col-lg-12">
			<h4 class="page-header">PROIZVODI - Financijsko STANJE</h4>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12">
			<table id="proizvod" class="table table-bordered table-hover">
				<thead>
				<tr>
					<th>#</th>
					<th>Naziv</th>
					<th>Vrsta Proizvoda</th>
					<th>Ukupna Količina</th>
					<th>Ukupna Cijena</th>
					<th>Skladista na kojima se nalazi</th>
				</tr>
				</thead>
				<tbody>
				<tr th:each="proizvod : ${proizvodList}">
					<td th:text="${proizvod.id}">Id</td>
					<td th:text="${proizvod.naziv}">Naziv</td>
					<td th:text="${proizvod.vrstaProizvoda.naziv}">Vrsta</td>
					<td th:text="${proizvod.getUkupnaKolicinaUsvimSkladistima()}">Kolicina</td>		
					<td th:text="${proizvod.getUkupnaCijenaOvogProizvodaUsvimSkladistima()}">Cijena</td>
					<td><table class="table table-bordered table-hover">
					<thead>
					<tr>
					<th>#</th>
					<th>Skladiste</th>
					<th>Kolicina</th>
					</tr>
					</thead>
					<tbody>
					<tr th:each="skladisteProizvod : ${proizvod.skladisteProizvod}">
					<td th:text="${skladisteProizvod.skladiste.id}">Id</td>
					<td th:text="${skladisteProizvod.skladiste.naziv}">Naziv</td>
					<td th:text="${skladisteProizvod.kolicina}">Kolicina</td>
					</tr>
					</tbody>
					</table></td>			
				</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12">
			<h4 class="page-header">Skladista - Financijsko STANJE</h4>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12">
			<table id="proizvod" class="table table-bordered table-hover">
				<thead>
				<tr>
					<th>#</th>
					<th>Naziv</th>
					<th>Ukupna Količina</th>
					<th>Ukupna Cijena</th>
					<th>Proizvodi</th>
				</tr>
				</thead>
				<tbody>
				<tr th:each="skladiste : ${skladisteList}">
					<td th:text="${skladiste.id}">Id</td>
					<td th:text="${skladiste.naziv}">Naziv</td>
					<td th:text="${skladiste.getUkupnaKolicinaProizvodaUovomSkladistu()}">Kolicina</td>		
					<td th:text="${skladiste.getUkupnaCijenaSvihProizvodaUSkladistu()}">Cijena</td>
					<td><table class="table table-bordered table-hover">
					<thead>
					<tr>
					<th>#</th>
					<th>Proizvod</th>
					<th>Vrsta</th>
					<th>Kolicina</th>
					<th>Cijena</th>
					</tr>
					</thead>
					<tbody>
					<tr th:each="skladisteProizvod : ${skladiste.skladisteProizvod}">
					<td th:text="${skladisteProizvod.proizvod.id}">Id</td>
					<td th:text="${skladisteProizvod.proizvod.naziv}">Naziv</td>
					<td th:text="${skladisteProizvod.proizvod.vrstaProizvoda.naziv}">Vrsta</td>
					<td th:text="${skladisteProizvod.kolicina}">Kolicina</td>
					<td th:text="${skladisteProizvod.proizvod.cijena}">Cijena</td>
					</tr>
					</tbody>
					</table></td>			
				</tr>
				</tbody>
			</table>
		</div>
	</div>
  </div>
</body>
</html>