<!DOCTYPE html>
<html layout:decorator="layouts/layoutadmin" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<script src="/webjars/Chart.js/2.0.2/dist/Chart.bundle.min.js" th:src="@{/webjars/Chart.js/2.0.2/dist/Chart.bundle.min.js}"></script>
<script type="text/javascript" th:inline="javascript">
	/*<![CDATA[*/
	function getPodaci() {
		var podaciListArray = [];
		var podaci1ListArray = [];
		var labelsListArray = [];
		var godina = $('#year').val();
		var skladiste = $('#skladiste').val();
		$.ajax({
			method : "GET",
			url : "/hwms/izvjestaj/promet/aktivnosti",
			data : {
				godina : godina,
				skladiste : skladiste
			},
			dataType : "json"
		}).done(
				function(response) {
					$.each(response, function() {
						podaciListArray.push(this.brojacPrimka);
						podaci1ListArray.push(this.brojacOtprema);
						labelsListArray.push(this.mjesec);
					});

					var data = {
						labels : labelsListArray,
						datasets : [ {
							label : "zaprimljeno",
							backgroundColor : "rgba(54,162,235,0.2)",
							borderColor : "rgba(54,162,235,1)",
							borderWidth : 1,
							hoverBackgroundColor : "rgba(54,162,235,0.4)",
							hoverBorderColor : "rgba(54,162,235,1)",
							data : podaciListArray
						},
						{
							label : "otpremljeno",
							backgroundColor : "rgba(205, 181, 228, 0.2)",
							borderColor : "rgba(205, 181, 228, 1)",
							borderWidth : 1,
							hoverBackgroundColor : "rgba(54,162,235,0.4)",
							hoverBorderColor : "rgba(54,162,235,1)",
							data : podaci1ListArray
						}
						]
					}
					var ctx = document.getElementById("myChart");
					var myLineChart = new Chart(ctx, {
						type : 'line',
						data : data,
						options : {
							xAxes : [ {
								display : true
							} ]
						}
					});

				}).fail(function() {
		}).always(function() {
		});
	}
	function napuniGodine(){
		var myselect = document.getElementById("year"),
	    startYear = new Date().getFullYear()
	    count = 5;
	
		(function(select, val, count) {
		  do {
		    select.add(new Option(val, val), null);
		    count--;
		    val--;
		  } while (count);
		})(myselect, startYear, count);
	}
	$(document).ready(function() {
		getPodaci();
		napuniGodine();
	});
	/*]]>*/
</script>
</head>
<body>
	<div layout:fragment="content">
		<div class="row">
			<div class="col-lg-12">
				<h2 class="page-header">PREGLED PROMETA</h2>
			</div>
		</div>
		<div class="row">
	        <div class="col-lg-8">
	         <form id="izvjestaji" method="get">
	      		<div class="form-group row">
	    			<div class="col-sm-8">
	                    <div class="form-group row">
	                      <div class="col-lg-10">
	                        <label for="godina" class="form-control-label">Godina:</label>
	                      	<select id="year" onchange="getPodaci()"></select>&nbsp;&nbsp;
		                      <label for="skladiste" class="form-control-label">Skladište:</label>
		                      <select id="skladiste"  onchange="getPodaci()">
		                      		<option value="">Sva skladišta</option>
									<option th:each="skladiste : ${skladista}"
											th:value="${skladiste.id}"
											th:text="${skladiste.naziv}">Skladiste</option>
								</select>
	                      </div>
	                  </div>
	              </div>
	  			</div>
	        </form>
	       </div>
	      </div>
	      <div class="row">
	        <div class="col-lg-8">
	         <form id="izvjestaji" method="get">
	      		<div class="form-group row">
	    			<div class="col-sm-8">
	                    <div class="form-group row">
	                      <div class="col-lg-8">
	                      </div>
	                  </div>
	              </div>
	  			</div>
	        </form>
	       </div>
	      </div>
	      
							
		<div class="row">
			<div class="col-lg-8">
				<canvas id="myChart" width="20" height="10"></canvas>
			</div>
		</div>
	</div>
</body>
</html>