<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title layout:title-pattern="$DECORATOR_TITLE - $CONTENT_TITLE">HWMS</title>
	<link href="/webjars/bootstrap/3.3.6/css/bootstrap.min.css" th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap.min.css}" rel="stylesheet" />
	<script src="/webjars/jquery/2.2.3/jquery.min.js" th:src="@{/webjars/jquery/2.2.3/jquery.min.js}"></script>
	<script src="/webjars/bootstrap/3.3.6/js/bootstrap.min.js" th:src="@{/webjars/bootstrap/3.3.6/js/bootstrap.min.js}"></script>
	<script src="/webjars/datatables/1.10.11/js/jquery.dataTables.min.js" th:src="@{/webjars/datatables/1.10.11/js/jquery.dataTables.min.js}"></script>
	<script src="/webjars/datatables/1.10.11/js/dataTables.bootstrap.min.js" th:src="@{/webjars/datatables/1.10.11/js/dataTables.bootstrap.min.js}"></script>
	<link href="/webjars/datatables/1.10.11/css/dataTables.bootstrap.min.css" th:href="@{/webjars/datatables/1.10.11/css/dataTables.bootstrap.min.css}" rel="stylesheet" />
	<link href="/css/hwms.css" th:href="@{/css/hwms.css}" rel="stylesheet" />
  </head>
  <body>
    <!--/* Standard layout can be mixed with Layout Dialect */-->
   <div th:replace="fragments/header :: header"> 
    </div> 
	    <div class="container">
		    <div layout:fragment="content">
		    
		      <!-- ============================================================================ -->
		      <!-- This content is only used for static prototyping purposes (natural templates)-->
		      <!-- and is therefore entirely optional, as this markup fragment will be included -->
		      <!-- from "fragments/header.html" at runtime.                                     -->
		      <!-- ============================================================================ -->
		      <h1>Static content for prototyping purposes only</h1>
		      <p>
		        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
		        Praesent scelerisque neque neque, ac elementum quam dignissim interdum.
		        Phasellus et placerat elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
		        Praesent scelerisque neque neque, ac elementum quam dignissim interdum.
		        Phasellus et placerat elit.
		      </p>
		    </div>
		<!--       <div th:replace="fragments/footer :: footer">&copy; 2016</div> -->
	  </div>
  </body>
</html>