<!DOCTYPE html>
<html layout:decorator="layouts/layoutadmin" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body>
	<div layout:fragment="content">
		<div class="row">
			<div class="col-lg-12">
				<h3 class="page-header" th:text="${naslov}">KORISNIK</h3>
			</div>
			<!-- /.col-lg-12 -->
		</div>
		<div class="row">
			<div class="col-lg-6">
				<form action="#" th:action="@{/admin/korisnik/unos}" th:object="${korisnikForm}" method="post">
					<div th:if="${#fields.hasGlobalErrors()}" class="alert alert-danger">
						<p th:each="err : ${#fields.globalErrors()}" th:text="${err}">...</p>
					</div>
					<input type="hidden" th:field="*{id}" />
					<div class="form-group required" th:classappend="${#fields.hasErrors('ime')}?'has-error'">
						<label for="ime" th:text="#{korisnik.unos.ime}" class="control-label"></label> <input type="text" th:field="*{ime}" class="form-control" />
						<p th:if="${#fields.hasErrors('ime')}" th:errors="*{ime}">Ime</p>
					</div>
					<div class="form-group required" th:classappend="${#fields.hasErrors('prezime')}?'has-error'">
						<label for="prezime" th:text="#{korisnik.unos.prezime}" class="control-label"></label> <input type="text" th:field="*{prezime}" class="form-control" />
						<p th:if="${#fields.hasErrors('prezime')}" th:errors="*{prezime}">Prezime</p>
					</div>
					<div class="form-group required" th:classappend="${#fields.hasErrors('email')}?'has-error'">
						<label for="email" th:text="#{korisnik.unos.email}" class="control-label"></label> <input type="email" th:field="*{email}" class="form-control" />
						<p th:if="${#fields.hasErrors('email')}" th:errors="*{email}">E-mail</p>
					</div>
					<div class="form-group required" th:classappend="${#fields.hasErrors('korisnickoIme')}?'has-error'">
						<label for="korisnickoIme" th:text="#{korisnik.unos.korisnickoIme}" class="control-label"></label> 
						<input type="text" th:field="*{korisnickoIme}" th:readonly="${korisnikForm.id != null}" class="form-control" />
						<p th:if="${#fields.hasErrors('korisnickoIme')}" th:errors="*{korisnickoIme}">Korisničko ime</p>
					</div>
					<div th:if="${korisnikForm.id == null}" class="form-group required" th:classappend="${#fields.hasErrors('lozinka')}?'has-error'">
						<label for="lozinka" th:text="#{korisnik.unos.lozinka}" class="control-label"></label> <input type="password" th:field="*{lozinka}" class="form-control" />
						<p th:if="${#fields.hasErrors('lozinka')}" th:errors="*{lozinka}">Lozinka</p>
					</div>
					<div class="form-group required" th:classappend="${#fields.hasErrors('role')}?'has-error'">
						<label for="role" th:text="#{korisnik.unos.role}" class="control-label"></label> <select id="role" th:field="*{role}" class="form-control">
							<option value=""></option>
							<option th:each="rola : ${sveRole}" th:value="${rola}" th:text="${rola}"></option>
						</select>
						<p th:if="${#fields.hasErrors('role')}" th:errors="*{role}">Role</p>
					</div>
					<div class="form-group">
						<label for="aktivan" th:text="#{korisnik.unos.aktivan}">Aktivan: </label><input type="checkbox" th:field="*{aktivan}" /> 
					</div>
					<button type="submit" name="odustani" class="btn btn-default">Odustani</button>
					<button type="submit" name="potvrdi" class="btn btn-primary">Potvrdi</button>
				</form>
			</div>
		</div>
	</div>
</body>
</html>