<!DOCTYPE html>
<html layout:decorator="layouts/layoutadmin" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<script type="text/javascript" th:inline="javascript">
/*<![CDATA[*/
    $(document).ready(function () {
    	$('#korisnici').DataTable({
            language: {
                url: /*[[@{/local/Croatian.json}]]*/
            }
        });
    });
/*]]>*/
</script>
</head>
<body>
	<div layout:fragment="content">
		<div class="row">
			<div class="col-lg-12">
				<h2 class="page-header">KORISNICI</h2>
			</div>
		</div>
		<div th:if="${poruka != null}" class="alert alert-success">
			    <div th:text="${poruka}">[...]</div>
		</div>
		<div class="row">
			<div class="col-lg-12">
				<table id="korisnici" class="table table-bordered table-hover">
					<thead>
						<tr>
							<th>IME</th>
							<th>PREZIME</th>
							<th>E-MAIL</th>
							<th>Status</th>
							<th>Ovlaštenja</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="korisnik : ${korisnici}">
							<td th:text="${korisnik.ime}">Ime</td>
							<td th:text="${korisnik.prezime}">Prezime</td>
							<td th:text="${korisnik.email}">E-mail</td>
							<td th:text="${korisnik.aktivan}? #{status.aktivan} : #{status.pasivan}">Aktivan</td>
							<td th:text="${korisnik.sveRole}">Ovlaštenja</td>
							<td><a th:href="@{/admin/korisnik/unos(id=${korisnik.id})}">Promjena</a></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</body>
</html>