<!DOCTYPE html>
<html layout:decorator="layouts/layout" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body>
	<div layout:fragment="content">
	  <div class="alert alert-success">
		<h4 th:text="#{korisnik.lozinka.uspjesno}"></h4>
      </div>
      <a th:href="@{/logout}" class="btn btn-primary">Odjava</a>
	</div>
</body>
</html>