<!DOCTYPE html>
<html layout:decorator="layouts/layout" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body>
	<div layout:fragment="content">
		<div class="row clearfix">
		<div class="col-md-6 col-md-offset-3 column">
		<h3 class="page-header">PROMJENA LOZINKE</h3>
		<form action="#" th:action="@{/korisnik/lozinka}" th:object="${lozinkaForm}" method="post">
			<div th:if="${#fields.hasGlobalErrors()}" class="alert alert-danger">
  				<p th:each="err : ${#fields.globalErrors()}" th:text="${err}">...</p>
			</div>
			<div class="form-group" th:classappend="${#fields.hasErrors('trenutnaLozinka')}?'has-error'">
				<label for="trenutnaLozinka" th:text="#{korisnik.lozinka.trenutnaLozinka}" class="control-label"></label>
				<input type="password" th:field="*{trenutnaLozinka}" class="form-control" />
				<p th:if="${#fields.hasErrors('trenutnaLozinka')}" th:errors="*{trenutnaLozinka}">Trenutna lozinka</p>
			</div>
			<div class="form-group" th:classappend="${#fields.hasErrors('novaLozinka')}?'has-error'">
				<label for="novaLozinka" th:text="#{korisnik.lozinka.novaLozinka}" class="control-label"></label>
				<input type="password" th:field="*{novaLozinka}" class="form-control" />
				<p th:if="${#fields.hasErrors('novaLozinka')}" th:errors="*{novaLozinka}">Trenutna lozinka</p>
			</div>
			<div class="form-group" th:classappend="${#fields.hasErrors('novaLozinkaPotvrda')}?'has-error'">
				<label for="novaLozinkaPotvrda" th:text="#{korisnik.lozinka.novaLozinkaPotvrda}" class="control-label"></label>
				<input type="password" th:field="*{novaLozinkaPotvrda}" class="form-control" />
				<p th:if="${#fields.hasErrors('novaLozinkaPotvrda')}" th:errors="*{novaLozinkaPotvrda}">Trenutna lozinka</p>
			</div>
			<div class="form-group">
    			<div class="col-sm-offset-2 col-sm-10">
					<button type="submit" name="potvrdi" class="btn btn-primary">Potvrdi</button>
					<button type="submit" name="odustani" class="btn btn-default">Odustani</button>
				</div>
			</div>
		</form>
	   </div>
	  </div>
	</div>
</body>
</html>