<!DOCTYPE html>
<html layout:decorator="layouts/layoutadmin"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
</head>
<body>
	<div layout:fragment="content">
		<div class="row">
			<div class="col-lg-12">
				<h2 class="page-header">MEDUSKLADISNICA</h2>
			</div>
		</div>
		
		<div class="row">
			<div class="col-lg-12">
				<table id="meduskladisnicaTable" class="table table-bordered table-hover">
					<thead>
						<tr>
							<th>Id</th>
							<th>Sifra</th>
							<th>Pocetno skladiste</th>
							<th>Odredisno skladiste</th>
						</tr>
					</thead>
					<tbody>
					<tr>
							<td th:text="${meduskladisnica.id}"></td>
							<td th:text="${meduskladisnica.sifra}"></td>
							<td th:text="${sourceSkladiste.naziv}"></td>
							<td th:text="${targetSkladiste.naziv}"></td>
						</tr>
					</tbody>
				</table>
				</div>
				</div>
				<div class="row">
			<div class="col-lg-12">
				<h2 class="page-header">DETALJI O PRENESENIM PROIZVODIMA</h2>
			</div>
		    </div>
		
			
			             <div class="row">
			          <div class="col-lg-12">
				<table id="proizvodiTable" class="table table-bordered table-hover">
					<thead>
						<tr>
							<th>Naziv</th>
				   			<th>Kolicina</th>
			               </tr>
			        </thead>
					<tbody>
					
                  <tr th:each="i : ${#numbers.sequence( 0,size-1)}">
                  <td th:text="${listaProizvoda[i]}"></td>
                  <td th:text="${listaKolicina[i]}"></td>
                  
                  </tr>
                  </tbody>
				 </table>
                   
                    </div>
                    </div>
				
				
				
				
				
		
	</div>
</body>
</html>