<!DOCTYPE html>
<html layout:decorator="layouts/layoutadmin"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
</head>
<body>
	<div layout:fragment="content">
		<div class="row">
			<div class="col-lg-12">
				<h2 class="page-header">MEDUSKLADISNICE</h2>
			</div>
		</div>
		
		<div class="row">
			<div class="col-lg-12">
				<table id="meduskladisniceTable" class="table table-bordered table-hover">
					<thead>
						<tr>
							<th>Id</th>
							<th>Sifra</th>
							<th>Datum kreiranja</th>
							<th>Detalji</th>th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="meduskladisnica : ${meduskladisnice}">
							<td th:text="${meduskladisnica.id}"></td>
							<td th:text="${meduskladisnica.sifra}"></td>
							<td th:text="${meduskladisnica.datumKreiranja}"></td>
							<td><a th:href="@{/meduskladisnica/detalji(id=${meduskladisnica.id})}">Detalji o meduskladisnici</a></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</body>
</html>