<!DOCTYPE html>
<html layout:decorator="layouts/layoutadmin"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<body>
<div layout:fragment="content">



     <div class="row">
            <div class="col-lg-12">
                <h3 class="page-header">PRIJENOS PROIZVODA</h3>
            </div>
        </div>



<div class="row">
<div class="col-lg-6">
<form  th:action="@{/meduskladisnica/prenesiIPreuredi}" th:object="${wrapper}" method="post">
<div th:each="element,status : ${wrapper.proizvodiList}">
<input type="hidden" th:field="*{proizvodiList[__${status.index}__].proizvodId}" th:value="${element.proizvodId}"></input>
<input type="hidden" th:field="*{proizvodiList[__${status.index}__].sourceSkladisteId}" th:value="${element.sourceSkladisteId}"></input> 
<input type="hidden" th:field="*{proizvodiList[__${status.index}__].targetSkladisteId}" th:value="${element.targetSkladisteId}"></input> 
<input type="hidden" th:field="*{proizvodiList[__${status.index}__].meduskladisnicaId}" th:value="${element.meduskladisnicaId}"></input> 
<input type="hidden" th:field="*{proizvodiList[__${status.index}__].meduskladisnicaSifra}" th:value="${element.meduskladisnicaSifra}"></input>
<input type="hidden" th:field="*{proizvodiList[__${status.index}__].kolicina}" th:value="${element.kolicina}"/>
<input type="hidden" th:field="*{proizvodiList[__${status.index}__].naziv}" th:value="${element.naziv}" ></input>
<input type="hidden" th:field="*{proizvodiList[__${status.index}__].identifikator}" th:value="${element.identifikator}" ></input>
<div class="form-group required">
<label  th:text="${element.naziv}" class="control-label"></label>
<input type="number" min="0" th:max="${element.kolicina}"  th:field="*{proizvodiList[__${status.index}__].prenesiKolicinu}" class="form-control"></input> 
</div>
</div>
<button type="submit" class="btn btn-default">Submit</button>
</form>
</div>
</div>


</div>
</body>
</html>