<!DOCTYPE html>
<html layout:decorator="layouts/layoutadmin"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <script type="text/javascript" th:src="@{/js/meduskladisnice1.js}" />
  
 <script type="text/javascript" src="http://code.jquery.com/jquery-1.10.1.min.js"/>
</head>
<body>
	<div layout:fragment="content">
		
	
		
		<div class="row">
			<div class="col-lg-12">
				<h2 class="page-header">MEDUSKLADISNICE ODABIR</h2>
			</div>
		</div>
	
		

		
		
		
		
		<form action="#" th:action="@{/meduskladisnica/prikaziProizvode}"  method="post">   
		
		
        <div class="form-group required">
        <label class="control-label">Sifra meduskladisnice</label>
		<input  id="sifra" name ="sifra" type="text" class="form-control"/>
		</div>
	
		<input type="hidden" name="sourceSkladisteId" id="sourceSkladisteId" th:value="${pocetnaSkladista[0].id}"/>
		<input type="hidden" name="targetSkladisteId" id="targetSkladisteId" th:value="${odredisnaSkladista[0].id}"/>
          
        <div class="form-group required">
        <label   class="control-label">Pocetno skladiste</label>
		<select id="pSkladiste" onchange="setSourceSkladisteIdInput()" class="form-control">
		<option  th:each="pocetnoSkladiste : ${pocetnaSkladista}" th:value="${{pocetnoSkladiste.id}}" th:text="${pocetnoSkladiste.naziv}"></option>
		</select>
		</div>
	
            
        <div class="form-group required">
        <label  class="control-label">Odredisno skladiste</label>
		<select  id="oSkladiste" onchange="setTargetSkladisteIdInput()" class="form-control"> 
		<option  th:each="odredisnoSkladiste : ${odredisnaSkladista}" th:value="${{odredisnoSkladiste.id}}" th:text="${odredisnoSkladiste.naziv}"></option>
		</select>
		</div>
		   
            
          <button type="submit" name="prenesi" class="btn btn-default">Pocni prijenos proizvoda</button>    
  
		</form>

	</div>
	

	
	
</body>
</html>