<!DOCTYPE html>
<html layout:decorator="layouts/layoutadmin"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	  
<body>
	<div layout:fragment="content">
	<h1 th:text="${proizvod.naziv}">naziv</h1>
	<h1 th:text="${proizvod.kolicina}">kolicina</h1>
	<h1 th:text="${proizvod.prenesiKolicinu}">za prijenos</h1>
	<h1 th:text="${proizvod.sourceSkladisteId}">ssID</h1>
	<h1 th:text="${proizvod.targetSkladisteId}">tsId</h1>
	<h1 th:text="${proizvod.meduskladisnicaSifra}">sifra meduskladisnice</h1>
	</div>
</body>
</html>	
	