<!DOCTYPE html>
<html layout:decorator="layouts/layoutadmin" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body>
  <div layout:fragment="content">
		<div class="row">
			<div class="col-lg-12">
				<h3 class="page-header" th:text="${naslov}">KOLIČINSKO STANJE - PROIZVOD</h3>
			</div>
		</div>
	<div class="well col-lg-8">
		<div class="row">
			<div class="col-lg-8">
				<h4>SKLADIŠTE - <span th:text="${skladiste.sifra+' - '+skladiste.naziv}">Opis skladišta</span></h4>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12">
				<h4>PROIZVOD - <span th:text="${proizvod.naziv}">Opis proizvoda</span></h4>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-8">
			<table id="dokumenti" class="table table-bordered table-hover">
				<thead>
				<tr>
					<th>Dokument</th>
					<th>Šifra</th>
					<th>Datum kreiranja</th>
					<th>Ulaz</th>
					<th>Izlaz</th>
				</tr>
				</thead>
				<tbody>
				<tr th:each="dokument : ${dokumenti}">
					<td th:text="${dokument.vrsta}">Vrsta</td>
					<td th:text="${dokument.sifra}">Naziv</td>
					<td th:text="${dokument.datumKreiranja} ? ${#dates.format(dokument.datumKreiranja, 'dd.MM.yyyy.')}">Datum kreiranja</td>
					<td th:text="${dokument.ulaz}">Ulaz</td>
					<td th:text="${dokument.izlaz}">Izlaz</td>
				</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-8">
		 <a th:href="@{/skladiste/stanje/kolicinsko/proizvodi(skid=${skladiste.id})}">Natrag na izbor skladišta</a>
		</div>
	</div>
  </div>
</body>
</html>