<!DOCTYPE html>
<html layout:decorator="layouts/layoutadmin" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body>
  <div layout:fragment="content">
		<div class="row">
			<div class="col-lg-12">
				<h3 class="page-header" th:text="${naslov}">KOLIČINSKO STANJE</h3>
			</div>
		</div>
		<div class="row">
				<form action="#" th:action="@{/skladiste/stanje/kolicinsko/proizvodi}" method="get" class="navbar-form navbar-left">
					<div class="form-group">
						<select id="skid" name="skid" class="form-control">
							<option value=""></option>
							<option th:each="skladiste : ${svaSkladista}" th:value="${skladiste.id}" th:text="${skladiste.naziv}" th:selected="${skladiste.id == param.skid}"></option>
						</select>
					</div>
					<button type="submit" name="potvrdi" class="btn btn-primary">Potvrdi</button>
				</form>
			</div>
		
		<div class="row">
		<div class="col-lg-12">
			<h4 class="page-header">PROIZVODI - KOLIČINSKO STANJE</h4>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12">
			<table id="proizvod" class="table table-bordered table-hover">
				<thead>
				<tr>
					<th>#</th>
					<th>Naziv</th>
					<th>Vrsta proizvoda</th>
					<th>Količina</th>
					<th>Skladište</th>
					<th></th>
				</tr>
				</thead>
				<tbody>
				<tr th:each="proizvod : ${proizvodList}">
					<td th:text="${proizvod.proizvodId}">Id</td>
					<td th:text="${proizvod.naziv}">Naziv</td>
					<td th:text="${proizvod.vrsta}">Naziv</td>
					<td th:text="${proizvod.kolicina}">Vrsta proizvoda</td>
					<td th:text="${proizvod.skladiste}">Vrsta proizvoda</td>
					<td><a th:href="@{/skladiste/stanje/kolicinsko/proizvod(skid=${proizvod.skladisteId}, pid=${proizvod.proizvodId})}">Detalji</a></td>
				</tr>
				</tbody>
			</table>
		</div>
	</div>
  </div>
</body>
</html>