<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head lang="en">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Hwms</title>
<link href="/webjars/bootstrap/3.3.4/css/bootstrap.min.css" th:href="@{/webjars/bootstrap/3.3.4/css/bootstrap.min.css}" rel="stylesheet" media="screen" />
<script src="/webjars/jquery/2.1.4/jquery.min.js" th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>
<script src="/webjars/bootstrap/3.3.4/js/bootstrap.min.js" th:src="@{/webjars/bootstrap/3.3.4/js/bootstrap.min.js}"></script>
<link href="/css/libro.css" th:href="@{/css/libro.css}" rel="stylesheet" />
</head>
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top" th:fragment="header">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"></a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <!--<li class="active"><a href="#" th:href="@{/}">Home</a></li>
            <li><a href="#" th:href="@{/primke}">PRIMKE</a></li>
            <li><a href="#" th:href="@{/home}">KALKULACIJE</a></li>
            <li><a href="#" th:href="@{/home}">FINANCIJSKO STANJE</a></li>
            <li><a href="#" th:href="@{/home}">FINANCIJSKO STANJE2</a></li> -->
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li th:if="${#authorization.expression('isAuthenticated()')}">
              <li class="dropdown">
		          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span th:text ="${#authentication.getPrincipal().getPunoIme()}"></span>&nbsp;<span class="caret"></span></a>
		          <ul class="dropdown-menu" role="menu">
		          	<li class="divider"></li>
		          	<li><a th:href="@{/korisnik/lozinka}">Promjena lozinke</a></li>
		            <li class="divider"></li>
		            <li><a th:href="@{/logout}">Odjava</a></li>
		          </ul>
		       </li>
		     </li>
             <li th:if="${not #authorization.expression('isAuthenticated()')}">
                <a href="/login" th:href="@{/login}">Prijava</a>
             </li>
          </ul>
        </div>
      </div>
    </div>
  </body>
</html>