<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<div th:fragment="headernew">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="index.html">Hamburg Warehouse Managment System</a>
    </div>

    <ul class="nav navbar-top-links navbar-right">
    	<li th:if="${#authorization.expression('isAuthenticated()')}">
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="fa fa-user fa-fw"></i> <span th:text ="${#authentication.getPrincipal().getPunoIme()}"></span> <i class="fa fa-caret-down"></i>
            </a>
            <ul class="dropdown-menu dropdown-user">
                <li><a href="@{/izbornik}"><i class="fa fa-user fa-fw"></i> Izbornik</a>
                </li>
                <li><a th:href="@{/korisnik/lozinka}"><i class="fa fa-gear fa-fw"></i> Promjena lozinke</a>
                </li>
                <li class="divider"></li>
                <li><a th:href="@{/logout}"><i class="fa fa-sign-out fa-fw"></i> Odjava</a>
                </li>
            </ul>
        </li>
        </li>
        <li th:if="${not #authorization.expression('isAuthenticated()')}">
                <a href="/login" th:href="@{/login}">Prijava</a>
        </li>
    </ul>
</div>
</html>