<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<div th:fragment="menu">
    <div class="navbar-default sidebar" role="navigation" th:if="${#authorization.expression('isAuthenticated()')}">
        <div class="sidebar-nav navbar-collapse">
            <ul class="nav" id="side-menu">
                <li class="sidebar-search">
                    <div class="input-group custom-search-form">
                        <span>ADMINISTRATOR</span>
                    </div>
                    <!-- /input-group -->
                </li>
                <li>
                    <a th:href="@{/admin}"><i class=" fa-dasfahboard fa-fw"></i> Početna stranica</a>
                </li>
                <li sec:authorize="hasRole('ROLE_ADMIN')">
                    <a href="#"><i class="fa fa-users fa-fw"></i> Korisnici<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a th:href="@{/admin/korisnik/lista}">Pregled</a>
                        </li>
                        <li>
                            <a th:href="@{/admin/korisnik/unos}">Unos</a>
                        </li>
                    </ul>
                </li>
                <li sec:authorize="hasRole('ROLE_ADMIN')">
                    <a href="#"><i class="fa fa-database fa-fw"></i> Skladišta<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a th:href="@{/skladiste/index}"><i class="fa fa-bars fa-fw"></i> Pregled</a>
                        </li>
                        <li>
                            <a th:href="@{/skladiste/unos}"><i class="fa fa-plus fa-fw"></i> Unos</a>
                        </li>
                    </ul>
                </li>
                <li sec:authorize="hasRole('ROLE_ADMIN')">
                    <a href="#"><i class="fa fa-database fa-fw"></i> Proizvodi<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a th:href="@{/proizvod/index}"><i class="fa fa-bars fa-fw"></i> Pregled</a>
                        </li>
                        <li>
                            <a th:href="@{/admin/proizvod/unos}"><i class="fa fa-plus fa-fw"></i> Unos</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> Izvještaji<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a th:href="@{/skladiste/stanje/kolicinsko/skladista}"><i class="fa fa-bars fa-fw"></i> Količinsko stanje</a>
                        </li>
                        <li>
                            <a th:href="@{/financijskoStanje}"><i class="fa fa-bars fa-fw"></i> Financijsko stanje</a>
                        </li>
                        <li>
                            <a th:href="@{/izvjestaj/promet}"><i class="fa fa-bars fa-fw"></i> Pregled prometa</a>
                        </li>
                    </ul>
                    
                </li>
                <li><a href="#" th:href="@{/primke/index}"><i class="fa fa-database fa-fw"></i> Primke</a></li> 
                <li><a href="#" th:href="@{/otpremnica/index}"><i class="fa fa-database fa-fw"></i> Otpremnice</a></li>
               <!--  <li><a href="#"><i class="fa fa-database fa-fw"></i> Međuskladišnice</a></li> -->
            </ul>
        </div>
        <!-- /.sidebar-collapse -->
    </div>
</div>
</html>