/* Vaši stilovi */
body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', Helvetica, sans-serif;
  background-color: blue;
}

img { max-width: 100%; }

h1, h2 {
  color: Black;
  padding: 10px;
}



.main-navigation {
  margin-top: -50px;
  margin-left: -20px;
  text-align: center;
  position: absolute;
  height: 100%;
  background: lightblue;
  padding: none;
}

.main-navigation li{
  display: block;
}

.main-navigation ul {
  margin: 0;
  padding: 10px 0;
  float:left;
  height: 90%;
  width: 100%;
}

.main-navigation a{
  display: block;
  padding: 10px 20px;
  color: black;
  text-decoration: none;
  font-weight: 400;
  background: lightblue;
}

.main-navigation a:hover {
  background:black;
  color: white;
}

.sadrzaj {
  background: lightblue;
  margin-top: 10px;
  margin-left: -290px;
  width: 85%;
  position: absolute;
  height: 100%;
  padding: none;
	
}

.fokus {
  background: lightblue;
  margin-top: 0px;
  margin-left: 50px;
  width: 85%;
  position: absolute;
  height: 80%;
  padding: none;
  text-align: center;
}

a { color: #DB5949; }
a:hover { text-decoration: none; }


.gray-boxes {
  margin: 5% auto;
  position: absolute;
}

.formalogout{
  float:right;
  padding: 10px;
}
.filter{float:right;
margin-right: 50px;
}

.table{width: 100%}
.table, td, th{
border: 1px solid black;
}
th, td {
    border-bottom: 1px solid #ddd;
}

.selectdva{float:right;}

#menuCheckbox, .menuToggle { display: none; }
#menuCheckbox:checked + .main-navigation { -webkit-transform: translateX(0); -moz-transform: translateX(0); transform: translateX(0); }

@media only screen and (max-width:780px) {
  .column { width: 100%; margin: 0; padding: 0 10px; -moz-box-sizing: border-box; box-sizing: border-box; }

  .logo { padding-left: 10px; }
  
  .menuToggle { float: right; position: absolute; right: 20px; top: 35px; display: block; background: #000; height: 5px; text-indent: -9999px; width: 30px; 
  }
  .menuToggle:after, .menuToggle:before { position: absolute; top: 0; width: 100%; content: ""; display: block; height: 100%; }
  .menuToggle:before { padding-bottom: 5px; border-top: 5px solid #000; top: auto; bottom: 0; }
  .menuToggle:after { padding-top: 5px; border-bottom: 5px solid #000;  }

  .main-navigation { position: fixed; right: 0; top: 83px; width: 250px; -webkit-transform: translateX(250px); -moz-transform: translateX(250px); transform: translateX(250px); transition: 200ms; background: #222; bottom: 0; }
  .main-navigation ul { padding: 0; }
  .main-navigation li, .main-navigation a { display: block; float: none; }
  .main-navigation a { display: block; float: none; padding: 20px 0; }
}

