<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<title>HWMS - prijava</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link href="/webjars/bootstrap/3.3.6/css/bootstrap.min.css" th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap.min.css}" rel="stylesheet" media="screen" />
<script src="/webjars/jquery/2.2.3/jquery.min.js" th:src="@{/webjars/jquery/2.2.3/jquery.min.js}"></script>
<link href="../static/css/signin.css" th:href="@{css/signin.css}" rel="stylesheet" media="screen" />
</head>
<body>
  <div class="container">
    <div th:if="${param.error}">Pogrešno korisničko ime ili lozinka.</div>
    <div th:if="${param.logout}">Odjavljeni ste.</div>
    <div class="row">
      <div class="col-sm-6 col-md-4 col-md-offset-4">
        <h1 class="text-center login-title">Prijava</h1>
        <div class="account-wall">
          <form class="form-signin" th:action="@{/login}" method="post">
            <input type="text" name="username" class="form-control" placeholder="Korisničko ime" required="required" autofocus="autofocus" /> 
            <input type="password" name="password" class="form-control" placeholder="Lozinka" required="required" />
            <button class="btn btn-lg btn-primary btn-block" type="submit">Prijava</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</body>
</html>