<!DOCTYPE html>
<html layout:decorator="layouts/layout" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body>

	<div layout:fragment="content">
		<div class="jumbotron">
			<div class="container">
				<h1>Hello HWMS korisnici</h1>
				<p>Hamburg Warehouse Managment System</p>
				<p>
  				    <a href="/login" class="btn btn-primary btn-lg" th:href="@{/login}" role="button">Prijava</a>
				</p>
			</div>
		</div>
		<hr />

		<footer>
			<p>&copy; 2016 HWMS Company</p>
		</footer>
	</div>

</body>
</html>