<!DOCTYPE html>
<html layout:decorator="layouts/layoutInside"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<body>
	<div layout:fragment="content">
		<div class="row">	
			<div th:if="${poruka != null}" class="alert alert-success">
				<div th:text="${poruka}">[...]</div>
			</div>
			<div class="form-inline">
				<div class="col-lg-5">
					<form action="#" th:action="@{/otpremnica/upit/izdano}" th:object="${otpremnica1}" method="get" class="navbar-form navbar-left">
					 	<div class="form-group">
							<label for="izdano" th:text="#{otpremnica.izdano.pretraga}" class="control-label"></label>
							<input type="text" th:field="*{izdano}" class="form-control" style="margin-left: 10px"/>
							<p th:if="${#fields.hasErrors('izdano')}" th:errors="*{izdano}">Kupac</p>
						</div>
						<label><br></br><br></br></label>
						<button type="submit" name="potvrdi" class="btn btn-primary">Potvrdi</button>
					</form>
				</div>
				<div class="col-lg-5"></div>
				<div class="col-lg-2" style="margin-top: 20px">
					<a href="#" th:href="@{/otpremnica/unos}" class="btn btn-primary">Unesi otpremnicu</a>
				</div>
			</div>
		</div>
		

		<div class="otpremnicaList" th:unless="${#lists.isEmpty(otpremnicaList)}">
			<div class="row">
				<div class="col-lg-11">
					<h3 align="center">OTPREMNICE</h3>
				</div>
			</div>
			<table class="table table-condensed table-hover"
				style="margin-top: 30px">
				<thead>
					<tr>
						<th>&#352;ifra</th>	
						<th>Skladi&#353;te</th>	
						<th>Datum Otpremanja</th>
						<th>Kupac</th>
						<th></th>
						<th></th>
						<th></th>
					</tr>
				</thead>

				<tr th:each="otpremnica: ${otpremnicaList}">
					<td th:text="${otpremnica.sifra}">Šifra</td>			
					<td th:text="${otpremnica.skladiste.naziv}">Skladište</td>
					<td	th:text="${#dates.format(otpremnica.datumOtpremanja, 'dd.MM.yyyy.')}">Datum kreiranja</td>
					<td th:text="${otpremnica.izdano}">Kupac</td>
					<td th:if="${#lists.isEmpty(otpremnica.otpremnicaProizvodList)}"><a href="#"
						th:href="@{/otpremnica/otpremnicaProizvodUnos(id=${otpremnica.id})}">Unesi proizvode</a></td>
					<td th:unless="${#lists.isEmpty(otpremnica.otpremnicaProizvodList)}"><a href="#" 
						th:href="@{/otpremnica/otpremnicaProizvodi(id=${otpremnica.id})}">Proizvodi</a></td>
					<td><a href="#"	th:href="@{/otpremnica/unos(id=${otpremnica.id})}">PROMJENI</a></td>
					<td><a href="#"	th:href="@{/otpremnica/ispis(id=${otpremnica.id})}">ISPIS</a></td>
				</tr>
			</table>
		</div>
	</div>
</body>
</html>