	<!DOCTYPE html>
<html layout:decorator="layouts/layoutInside"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body>
	<div layout:fragment="content">
	   <div class="row" style="margin-top: 20px">
	        <div class="col-lg-10">  	
				<h3 th:text="${naslov}+ ' ' + ${otpremnica.sifra}" align="center"></h3>			
	        </div>
	        <div th:if="${enableEdit}" class="col-lg-2">
	            <a href="#" th:href="@{/otpremnica/stornoProizvodaOtpremnice(id=${otpremnica.id})}" class="btn btn-primary">Storno proizvoda</a>
	        </div>
	    </div>
	    <div class="row">
	        <div class="col-lg-12">
	            <table id="otpremnicaProizvodi" class="table table-condensed table-hover" style="margin-top: 30px">
	                <thead>
	                <tr>
	                	<th>Vrsta proizvoda</th>
	                    <th>Naziv proizvoda</th>          
	                    <th>Opis</th>
	                    <th>Cijena</th>
	                    <th>Količina</th>
	                </tr>
	                </thead>
	                <tbody>
	                <tr th:each="otpremnicaProizvod : ${otpremnicaProizvodList}">
						<td th:text="${otpremnicaProizvod.proizvod.vrstaProizvoda.naziv}">Vrsta proizvoda</td>
	                    <td th:text="${otpremnicaProizvod.proizvod.naziv}">Naziv</td>
	                    <td th:text="${otpremnicaProizvod.proizvod.opis}">Opis</td>
	                    <td th:text="${otpremnicaProizvod.proizvod.cijena}">Cijena</td>
	                    <td th:text="${otpremnicaProizvod.kolicina}">Kolicina</td>
	                </tr>
	                </tbody>
	            </table>
	            <a href="#" class="btn btn-primary" th:href="@{/otpremnica/ispis(id=${otpremnica.id})}">ISPIS</a>
	        </div>
	    </div>
	</div>

</body>
</html>