	<!DOCTYPE html>
<html layout:decorator="layouts/layoutInside"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body>
	<div layout:fragment="content">
	   <div class="row" style="margin-top: 20px">
	        <div class="col-lg-10">
				<h3 align="center"><label th:text="${naslov}"></label> - <label th:text="${primka.sifra}"></label></h3>
	        </div>
	        <div th:if="${enableEdit}" class="col-lg-2">
	            <a href="#" th:href="@{/primke/unosPrimkeProizvoda(id=${primka.id})}" class="btn btn-primary">Uredi proizvode</a>
	        </div>
	    </div>
	    <div class="row">
	        <div class="col-lg-12">
	            <table id="primkeProizvodi" class="table table-condensed table-hover" style="margin-top: 30px">
	                <thead>
	                <tr>
	                	<th>Vrsta proizvoda</th>
	                    <th>Naziv proizvođača</th>          
	                    <th>Opis</th>
	                    <th>Cijena</th>
	                    <th>Količina</th>
	                </tr>
	                </thead>
	                <tbody>
	                <tr th:each="primkaProizvod : ${primkaProizvodList}">
						<td th:text="${primkaProizvod.proizvod.vrstaProizvoda.naziv}">Vrsta proizvoda</td>
	                    <td th:text="${primkaProizvod.proizvod.naziv}">Naziv</td>
	                    <td th:text="${primkaProizvod.proizvod.opis}">Opis</td>
	                    <td th:text="${primkaProizvod.proizvod.cijena}">Cijena</td>
	                    <td th:text="${primkaProizvod.kolicina}">Cijena</td>
	                </tr>
	                </tbody>
	            </table>
	        </div>
	    </div>
	</div>

</body>
</html>