<!DOCTYPE html>
<html layout:decorator="layouts/layoutInside"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body>
	<div layout:fragment="content">
		<div class="row">
			<div class="col-lg-4" style="margin-top: 20px">
				<h3 align="left" th:text="${naslov}"></h3>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-4" style="padding-top: 30px">
				<form action="#" th:action="@{/primke/unos}"
					th:object="${primkaUnos}" method="post">
					<div th:if="${#fields.hasGlobalErrors()}"
						class="alert alert-danger">
						<p th:each="err : ${#fields.globalErrors()}" th:text="${err}">...</p>
					</div>
					<input type="hidden" th:field="*{id}" />
					<div class="form-group"
						th:classappend="${#fields.hasErrors('sifra')}?'has-error'">
						<label for="sifra" th:text="#{primka.sifra}" class="control-label"></label>
						<input type="text" th:field="*{sifra}" class="form-control" />
						<p th:if="${#fields.hasErrors('sifra')}" th:errors="*{sifra}">Šifra</p>
					</div>
					<div class="form-group"
						th:classappend="${#fields.hasErrors('nazivDobavljaca')}?'has-error'">
						<label for="nazivDobavljaca" th:text="#{primka.dobavljac}"
							class="control-label"></label> <input type="text"
							th:field="*{nazivDobavljaca}" class="form-control" />
						<p th:if="${#fields.hasErrors('nazivDobavljaca')}"
							th:errors="*{nazivDobavljaca}">Naziv_dobavljača</p>
					</div>
					
					<div class="form-group" th:classappend="${#fields.hasErrors('skladisteId')}?'has-error'">
					<label for="skladisteId" th:text="#{primka.skladisteId}" class="control-label"></label>
						<span th:if="*{skladisteId} == null">
							<select th:field="*{skladisteId}" class="form-control"> 
								<option th:each="skladiste : ${skladisteList}"
										th:value="${skladiste.id}"
										th:text="${skladiste.naziv}">Skladiste</option>
							</select>
						</span>
						<span th:if="*{skladisteId} != null">
							<select th:field="*{skladisteId}" class="form-control" disabled="disabled"> 
								<option th:each="skladiste : ${skladisteList}"
										th:value="${skladiste.id}"
										th:text="${skladiste.naziv}">Skladiste</option>
							</select>
						</span>
						<input type="hidden" th:field="*{skladisteId}" />
						<p th:if="${#fields.hasErrors('skladisteId')}" th:errors="*{skladisteId}">Id skladišta</p>	
					
					</div>	
					<div class="form-group"><label></label></div>
					<button type="submit" name="potvrdi" class="btn btn-primary">Potvrdi</button>
					<button type="submit" name="odustani" class="btn btn-default">Odustani</button>
				</form>
			</div>
		</div>
	</div>
</body>
</html>
