<!DOCTYPE html>
<html layout:decorator="layouts/layoutadmin"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<script type="text/javascript" th:inline="javascript">
/*<![CDATA[*/
    $(document).ready(function () {
    	$('#proizvod').DataTable({
            language: {
                url: /*[[@{/local/Croatian.json}]]*/
            }
        });
    });
/*]]>*/
</script>
</head>
<body>
<div layout:fragment="content">
	<div class="row">
		<div class="col-lg-12">
			<h2 class="page-header">PROIZVODI</h2>
		</div>
		<div class="col-lg-12">

		</div>
	</div>
	<div class="row">
		<div class="col-lg-12">
			<table id="proizvod" class="table table-bordered table-hover">
				<thead>
				<tr>
					<th>#</th>
					<th>Naziv</th>
					<th>Opis</th>
					<th>Cijena</th>
					<th>Vrsta proizvoda</th>
					<th>Datum kreiranja</th>
					<th>Datum izmjene</th>
					<th>Akcija</th>
				</tr>
				</thead>
				<tbody>
				<tr th:each="proizvod : ${proizvodList}">
					<td th:text="${proizvod.id}">Id</td>
					<td th:text="${proizvod.naziv}">Naziv</td>
					<td th:text="${proizvod.opis}">Opis</td>
					<td th:text="${proizvod.cijena}">Cijena</td>
					<td th:text="${proizvod.vrstaProizvoda.naziv}">Vrsta proizvoda</td>
					<td th:text="${#dates.format(proizvod.datumKreiranja, 'dd.MM.yyyy')}">Datum kreiranja</td>
					<td th:text="${proizvod.datumIzmjene} ? ${#dates.format(proizvod.datumIzmjene, 'dd.MM.yyyy')} : ${proizvod.datumIzmjene} ">Datum izmjene</td>
					<td><a th:href="@{/admin/proizvod/unos(id=${proizvod.id})}">Promjena</a></td>
				</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>

</body>
</html>