<!DOCTYPE html>
<html layout:decorator="layouts/layoutadmin" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
 
</head>
<body>
	<div layout:fragment="content">
		<div class="row">
			<div class="col-lg-12">
				<h3 class="page-header" th:text="${naslov}">Proizvod</h3>
			</div>
			<!-- /.col-lg-12 -->
		</div>
		<div class="row">
			<div class="col-lg-6">
				<form action="#" th:action="@{/admin/proizvod/unos}" th:object="${proizvodUnos}" method="post">
					
					<input type="hidden" th:field="*{id}" id="evaluateId" />
					
					<div class="form-group required" th:classappend="${#fields.hasErrors('naziv')}?'has-error'">
					<p th:if="${#fields.hasErrors('naziv')}" th:errors="*{naziv}">Naziv</p>
						<label for="naziv" th:text="#{proizvod.naziv}" class="control-label"></label> <input type="text" th:field="*{naziv}" class="form-control" />
					</div>
					
					<div class="form-group" th:classappend="${#fields.hasErrors('opis')}?'has-error'">
						<p th:if="${#fields.hasErrors('opis')}" th:errors="*{opis}">Opis</p>
						<label for="opis" th:text="#{proizvod.opis}" class="control-label"></label> <input type="text" th:field="*{opis}" class="form-control" />
					</div>
					<div class="form-group required" th:classappend="${#fields.hasErrors('cijena')}?'has-error'">
						<p th:if="${#fields.hasErrors('cijena')}" th:errors="*{cijena}">Cijena</p>
						<label for="cijena" th:text="#{proizvod.cijena}" class="control-label"></label> <input type="text" th:field="*{cijena}" class="form-control" />
					</div>
					<div class="form-group required" th:classappend="${#fields.hasErrors('vrstaProizvoda')}?'has-error'"> 
						<label for="vrstaProizvoda" th:text="#{proizvod.unos.vrstaProizvoda}" class="control-label"></label> <select id="vrstaProizvoda" th:field="*{vrstaProizvoda}"
							class="form-control">
							<option th:each="vrstaProizvoda : ${sveVrsteProizvoda}" th:value="${{vrstaProizvoda.id}}" th:text="${vrstaProizvoda.naziv}"></option>
						</select>
						<p th:if="${#fields.hasErrors('vrstaProizvoda')}" th:errors="*{vrstaProizvoda}">Vrsta Proizvoda</p>
					</div>
					
					<br />
					<button type="submit" name="odustani" class="btn btn-default">Odustani</button>
					<button type="submit" name="potvrdi" class="btn btn-primary">Potvrdi</button>
				</form>
			</div>
		</div>
	</div>
</body>
</html>